<a href="https://colab.research.google.com/github/kevinPerezLedesma/kevinPerezLedesma/blob/main/Kevin_Perez_Ledesma.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=8
nombre="juan"
x= nombre
y=x

print("El valor de y es:",y)
#str demuestra el tipo cadena#
#int demuestra que es un numero entero#

El valor de y es: juan

In [ ]:
#Tipos de datos#
#Booleana son dos valores posibles: True o False se#
#se usa la Funcion type#

variable_verdadera= True
variable_falsa= False

type(variable_verdadera= True)

str

In [ ]:
bool(25)
type (25)

int

In [ ]:
#Numero binario#

binario=0b1111
binario

15

In [ ]:
#Cadena de texto#
cadena="esto es una cadena de texto"
type(cadena)

str

In [ ]:
#Byte son inmutables es decir no se puede reemplazar"
cadena=b"esto es una cadena de texto"

In [ ]:
cadena= "8"
cadena =cadena+"1"
type(cadena)
cadena
#El + es para concatenar pero depende el tipo de datos#

'81'

In [ ]:
#Listas#
#Crear una lista#
Datos_personales=["Kevin Perez Ledesma",24,True,"Lima","San Juan de Lurigancho"]
Datos_personalesc

['Kevin Perez Ledesma', 24, True, 'Lima', 'San Juan de Lurigancho']

In [ ]:
#Posiciones para seleccionar datos inicia con 0
nombre_apellido= Datos_personales[0]
nombre_apellido
  # "INDICE" se refiere a la posicion

'Kevin Perez Ledesma'

In [ ]:
#Nombre del departamento#
departamento=Datos_personales[3]
departamento

'Lima'

In [ ]:
#Donde antes del index ejemplo [:2] selecciona hasta la posicion 2

Datos_personales2= Datos_personales[:2]
Datos_personales2

['Kevin Perez Ledesma', 24]

In [ ]:
#VER LOS ULTIMOS REGISTROS O DATOS Ejmplo -1 es el ultimo dato
Datos_personales2[-1]

24

In [ ]:
#Sustraer datos [1:3] significa que desde la posicion 1 y antes del a posicion 3
Datos_personales[1:3]

[24]

In [ ]:
#Actualizacion de datos
# La lista de puede modificar y la Tupla no te permite modificar los valores
Datos_personales[0]="Kevin Perez Ledezma"
Datos_personales

['Kevin Perez Ledezma', 24, True, 'Lima', 'San Juan de Lurigancho']

In [ ]:
#TUPLA#
Datos_personales_tupla="Kevin Perez Ledesma",28,True,"Lima"
type(Datos_personales_tupla)

nombre_tupla=Datos_personales_tupla[0]
nombre_personales_tupla2=Datos_personales_tupla[1:3]
nombre_personales_tupla2

(28, True)

DICCIONARIO

In [ ]:
#DICCIONARIO#
Datos_personales_diccionario= {"nombre": "Kevin Perez",
    "edad":24,
      "es_estudiante":True,
      "departamento":"Cusco"}
Datos_personales_diccionario
type(Datos_personales_diccionario)

dict

DATA FRAME

In [ ]:
#Importa pandas as pd
import pandas as pd
#Creando listas 
nombres=["Rossmery", "Sussan", "kevin", "Nicolas"]
edad=[22,21,23,26]
pais=["Ecuador", "Perú", "Brasil", "Argentina"]
educacion=["Bachiller", "Licenciado", "Bachiller", "PhD"]

#Crear un diccionario incluyendo a las listas
data={'nombres':nombres,'edad':edad,'pais':pais,'educacion':educacion}
data

{'edad': [22, 21, 23, 26],
 'educacion': ['Bachiller', 'Licenciado', 'Bachiller', 'PhD'],
 'nombres': ['Rossmery', 'Sussan', 'kevin', 'Nicolas'],
 'pais': ['Ecuador', 'Perú', 'Brasil', 'Argentina']}

In [ ]:
df_estudiantes=pd.DataFrame(data)
print(df_estudiantes)
df_estudiantes[df_estudiantes['edad']==22]

    nombres  edad       pais   educacion
0  Rossmery    22    Ecuador   Bachiller
1    Sussan    21       Perú  Licenciado
2     kevin    23     Brasil   Bachiller
3   Nicolas    26  Argentina         PhD

    nombres  edad     pais  educacion
0  Rossmery    22  Ecuador  Bachiller