<a href="https://colab.research.google.com/github/kevinPerezLedesma/kevinPerezLedesma/blob/main/Sesion3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**IF, ELSE y ELIF**

In [ ]:

#IF-ELSE
x = 4
y = 0
if x == 4 and y<2:
    y = 5
    print("se ejecuto en el if")
else:
    y = 2
    print("se ejecuto en el Else")

se ejecuto en el if

In [ ]:
#IF-ELIF
x = 4
y = 0

if x== 5:
    y = 1
elif x == 4:
    y = 2
elif x == 6:
    y = 3
else:
    y = 5

print("El valor de Y  es:",y)

El valor de Y  es: 2

In [ ]:
x = 2
y = 6

if x<y:print("x es mayor que y")

x es mayor que y

**For y While**

In [ ]:
lista=[10,523,643,1212,1451,1444]
suma = 0
for variable in lista:  #DICE QUE VARIABLE TOMARA EL VALOR DE 10 DESPUES 523 ...
    suma = suma + variable 
    print("La iteracion de la suma es",suma)

print("La suma total es:",suma)

La iteracion de la suma es 10
La iteracion de la suma es 533
La iteracion de la suma es 1176
La iteracion de la suma es 2388
La iteracion de la suma es 3839
La iteracion de la suma es 5283
La suma total es: 5283

In [ ]:
x=0
y=3
while x<y:
      print(x)
      x += 1
      print("nuevo valor de x:",x)

0
nuevo valor de x: 1
1
nuevo valor de x: 2
2
nuevo valor de x: 3

In [ ]:
x=0
y=150
while x<y:
      print(x)
      x += 1
      if len(str(x))==3:
          print("Error la cadena excede el valor:",len(str(x)),x) #len es para saber el numero de caracteres en cadena
          break
      else:
         print("nuevo valor de x:",x)

0
nuevo valor de x: 1
1
nuevo valor de x: 2
2
nuevo valor de x: 3
3
nuevo valor de x: 4
4
nuevo valor de x: 5
5
nuevo valor de x: 6
6
nuevo valor de x: 7
7
nuevo valor de x: 8
8
nuevo valor de x: 9
9
nuevo valor de x: 10
10
nuevo valor de x: 11
11
nuevo valor de x: 12
12
nuevo valor de x: 13
13
nuevo valor de x: 14
14
nuevo valor de x: 15
15
nuevo valor de x: 16
16
nuevo valor de x: 17
17
nuevo valor de x: 18
18
nuevo valor de x: 19
19
nuevo valor de x: 20
20
nuevo valor de x: 21
21
nuevo valor de x: 22
22
nuevo valor de x: 23
23
nuevo valor de x: 24
24
nuevo valor de x: 25
25
nuevo valor de x: 26
26
nuevo valor de x: 27
27
nuevo valor de x: 28
28
nuevo valor de x: 29
29
nuevo valor de x: 30
30
nuevo valor de x: 31
31
nuevo valor de x: 32
32
nuevo valor de x: 33
33
nuevo valor de x: 34
34
nuevo valor de x: 35
35
nuevo valor de x: 36
36
nuevo valor de x: 37
37
nuevo valor de x: 38
38
nuevo valor de x: 39
39
nuevo valor de x: 40
40
nuevo valor de x: 41
41
nuevo valor de x: 42
42
nuevo valor de x: 43
43
nuevo valor de x: 44
44
nuevo valor de x: 45
45
nuevo valor de x: 46
46
nuevo valor de x: 47
47
nuevo valor de x: 48
48
nuevo valor de x: 49
49
nuevo valor de x: 50
50
nuevo valor de x: 51
51
nuevo valor de x: 52
52
nuevo valor de x: 53
53
nuevo valor de x: 54
54
nuevo valor de x: 55
55
nuevo valor de x: 56
56
nuevo valor de x: 57
57
nuevo valor de x: 58
58
nuevo valor de x: 59
59
nuevo valor de x: 60
60
nuevo valor de x: 61
61
nuevo valor de x: 62
62
nuevo valor de x: 63
63
nuevo valor de x: 64
64
nuevo valor de x: 65
65
nuevo valor de x: 66
66
nuevo valor de x: 67
67
nuevo valor de x: 68
68
nuevo valor de x: 69
69
nuevo valor de x: 70
70
nuevo valor de x: 71
71
nuevo valor de x: 72
72
nuevo valor de x: 73
73
nuevo valor de x: 74
74
nuevo valor de x: 75
75
nuevo valor de x: 76
76
nuevo valor de x: 77
77
nuevo valor de x: 78
78
nuevo valor de x: 79
79
nuevo valor de x: 80
80
nuevo valor de x: 81
81
nuevo valor de x: 82
82
nuevo valor de x: 83
83
nuevo valor de x: 84
84
nuevo valor de x: 85
85
nuevo valor de x: 86
86
nuevo valor de x: 87
87
nuevo valor de x: 88
88
nuevo valor de x: 89
89
nuevo valor de x: 90
90
nuevo valor de x: 91
91
nuevo valor de x: 92
92
nuevo valor de x: 93
93
nuevo valor de x: 94
94
nuevo valor de x: 95
95
nuevo valor de x: 96
96
nuevo valor de x: 97
97
nuevo valor de x: 98
98
nuevo valor de x: 99
99
Error la cadena excede el valor: 3 100

**FUNCIONES**

In [5]:
def obtener_nombre_completo():
  return"juan Miguel salinas Ponce"

nombre_completo=obtener_nombre_completo()
print(nombre_completo)

juan Miguel salinas Ponce

In [9]:
def obtener_nombre_completo_con_parametros(nombres,apellidos):
  return "sus nombres son nombres son:"+" "+nombres +" "+ apellidos 

nombres="Rossmery Aurora"
apellidos="Torres"

nombre_completo=obtener_nombre_completo_con_parametros(nombres,apellidos)
print(nombre_completo)

sus nombres son nombres son: Rossmery Aurora Torres

In [17]:
def formulario_incripcion(nombre_completo,pais= 'Peru'):
  return  {
      "nombre_completo":nombre_completo,
      "pais":pais
  }
print(formulario_incripcion(nombre_completo,'Ecuador'))

{'nombre_completo': 'sus nombres son nombres son: Rossmery Aurora Torres', 'pais': 'Ecuador'}

In [30]:
def resta(a=None,b=None):   #None es ningun valor 
  if a==None or b==None:
    raise Exception ("Error, no puedo restar sin las 2 variables requeridas")
  return a-b

def suma(a=None,b=None):
  if a==None or b==None:
    raise Exception ("Error, no puedo restar sin las 2 variables requeridas")
  return a+b

def multiplicacion(a=None,b=None):
  if a==None or b==None:
    raise Exception ("Error, no puedo restar sin las 2 variables requeridas")
  return a+b

def operaciones(numero1,numero2):
  operacion_suma=suma(numero1,numero2)
  operacion_resta=resta(numero1,numero2)
  operacion_multiplicacion=multiplicacion(numero1,numero2)
  return operacion_suma,operacion_resta,operacion_multiplicacion

numero=5
numero2=10

resultado_operaciones=operaciones(numero,numero2)
print("La suma de",numero,"y",numero2," es:", resultado_operaciones[0])
print("La resta de",numero,"y",numero2," es:", resultado_operaciones[1])
print("La multiplicacion de",numero,"y",numero2," es:", resultado_operaciones[2])

La suma de 5 y 10  es: 15
La resta de 5 y 10  es: -5
La multiplicacion de 5 y 10  es: 15

**TAREA **

In [33]:
# Funcion de division
def division(valorx ,valory):
  return(valorx/valory)

valorx = 10
valory = 2

resultado_division=division(valorx,valory)
print(resultado_division)

5.0

In [53]:
# Funcion pontencial
def potencial(primervalor,segundovalor):
  return(primervalor**segundovalor)   #** se le concidera elevar a ()
x=5
y=3
resultado_potencial=potencial(x,y)
print(resultado_potencial)

125

In [56]:
#Funcion raiz 
def raiz(primervalor,segundovalor):
  return(primervalor**(1/segundovalor))
x=16
y=2
resultado_raiz=raiz(x,y)
print(resultado_raiz)

4.0